@import "../../../../utils/theme.scss";

.other-posts-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: $greyMiddleDark;
  }

  .other-posts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .other-posts-left {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .other-posts-right {
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and ($desktop) {
  .other-posts-container {
    max-width: 1300px;
    margin: 0 auto;

    h2 {
      font-size: 28px;
    }

    .other-posts-wrapper {
      flex-direction: row;
      flex: 2;

      .other-posts-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        min-width: 400px;
      }

      .other-posts-right {
        display: flex;
      }
    }
  }
}

@media screen and ($desktopLarge) {
  .other-posts-container {
    padding: 0;
    margin-bottom: 48px;
  }
}
