@import "../../../../utils/theme.scss";

.destination-country-places-container {
  @media screen and ($desktopLarge) {
    width: 85%;
  }

  @media screen and ($desktop2k) {
    width: 75.5%;
  }
}

.country-places-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  box-shadow: 0 0 16px #cccccc;
  border-radius: 16px;
  margin-right: 16px;

  h2 {
    padding: 24px 0 0px;
    font-size: 24px;
    font-weight: 700;
    color: $greyMiddleDark;
    z-index: 1;
    margin-left: 16px;
  }

  .country-places {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 16px 32px;
  }

  .country-places-world-map-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;

    & img {
      border-radius: 0 12px 12px 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and ($desktopLarge) {
  .country-places-container {
    margin-right: 0;

    .country-places,
    h2 {
      border-radius: 0 16px 16px 0;
      padding-left: calc((100vw - 1350px) / 2);
      max-width: calc(1300px + calc((100vw - 1350px) / 2));
    }
  }
}
