@use "@/utils/theme.scss" as *;

.search-results-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media screen and ($tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }
}

.search-results-text-wrapper {
  display: flex;
  align-items: center;

  h4 {
    color: $textPrimary;
    font-size: 24px;
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}
.search-results-connected-articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media screen and ($tabletMedium) {
    flex-direction: row;
  }
}

.search-results-text-articles-wrapper {
  h2 {
    font-weight: bold;
    font-size: 40px;
  }
}

.search-results-parent-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 28px;
  padding-bottom: 28px;
}
