@use "@/utils/theme.scss" as *;

.add-country-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;

  h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
  }

  fieldset {
    border-radius: 8px;
    border: 2px solid $greyMiddle;
    padding: 8px 16px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;

    legend {
      padding: 0 4px;
      font-size: 14px;
    }
  }

  .add-country-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .add-country-inputs {
      border-radius: 8px;
      max-width: 1024px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .add-country-input {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .add-country-inputs-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
    }

    .add-country-images-container {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;

      .add-country-image {
        height: 72px;
        position: relative;
        cursor: pointer;
        display: inline-block;

        .add-country-image-remove-icon {
          display: none;
          position: absolute;
          left: 50%;
          margin-left: -16px;
          top: 50%;
          margin-top: -16px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          .add-country-image-remove-icon {
            display: block;
          }

          img {
            opacity: 40%;
            transition: 0.2s;
          }
        }
      }

      .add-country-item {
        width: 108px;
        background-color: $greyMiddle;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 4px;
      }
    }

    .add-country-characteristics-container {
      .add-country-characteristics-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        .add-country-characteristics-item {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }

    .add-country-specificities-container {
      max-width: 1024px;

      .add-country-specificities-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .add-country-specificities-inner-item {
          margin-bottom: 8px;
        }

        .add-country-specificities-item {
          display: flex;
          gap: 8px;
          align-items: center;

          .add-country-specificities-item-column {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          * > svg {
            width: 52px;
            cursor: pointer;
          }
        }

        .add-country-specificities-images-container {
          display: flex;
          gap: 16px;
        }
      }
    }

    .add-country-videos-wrapper {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 1024px;

      .add-country-video-outer-container {
        .add-country-videos-container {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .add-country-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
          }

          .add-country-video-row {
            display: flex;
            gap: 8px;
            align-items: center;

            * > svg {
              width: 52px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .add-country-buttons {
      display: flex;
      gap: 8px;
      margin-bottom: 64px;
    }
  }
}
