@import "../../../../utils/theme.scss";

.airplane-tickets-menu-item-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  z-index: 5;

  h2 {
    text-align: left;
  }

  .airplane-tickets-menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
