@import "../../../../utils/theme.scss";

.airplane-tickets-menu-item-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  z-index: 5;

  h2 {
    text-align: left;
    font-size: 18px;
  }

  .airplane-tickets-menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

@media screen and ($tabletMedium) {
  .airplane-tickets-menu-item-container {
    h2 {
      font-size: 24px;
    }

    .airplane-tickets-menu-items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and ($desktop) {
  .airplane-tickets-menu-item-container {
    .airplane-tickets-menu-items {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
