@use "@/utils/theme.scss" as *;

.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  width: 100%;
  max-width: 900px;

  h3 {
    font-weight: 800;
    font-size: 24px;
    color: $grey;
  }

  .article-html-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0;

      @media screen and ($desktop) {
        font-size: 20px;
      }
    }

    ol {
      margin: 0;
      padding-left: 1.5rem;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 8px;
        position: relative;

        @media screen and ($desktop) {
          font-size: 20px;
        }

        &[data-list="bullet"] {
          &::before {
            content: "•";
            position: absolute;
            left: -1.2rem;
            font-size: 1.2em;
          }
        }

        &[data-list="unchecked"] {
          &::before {
            content: "☐";
            position: absolute;
            left: -1.5rem;
            font-size: 1.2em;
          }
        }

        &[data-list="checked"] {
          &::before {
            content: "☑";
            position: absolute;
            left: -1.5rem;
            font-size: 1.2em;
          }
        }

        &:not([data-list]) {
          list-style: decimal;
        }
      }
    }

    .ql-ui {
      display: none;
    }

    strong {
      font-weight: 800;
    }

    em {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }

    s {
      text-decoration: line-through;
    }

    a {
      color: blue;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.article-fragment-image-wrapper {
  width: 100%;
  max-width: 900px;

  .article-fragment-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.article-fragment-images-wrapper {
  width: 100%;
  max-width: 900px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @media screen and ($tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.article-fragment-image-frame {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  aspect-ratio: 4 / 5;

  background: rgba(0, 0, 0, 0.02);
}

.article-fragment-image--cover {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0; 
  object-fit: cover;
  object-position: center;
}

.article-fragment-video-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  font-size: 20px;

  iframe {
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 400px;

    @media screen and ($tablet) {
      width: 600px;
      height: 350px;
    }

    @media screen and ($desktop) {
      width: 900px;
      height: 500px;
    }
  }
}
