@use "@/utils/theme.scss" as *;

.destination-videos-container {
  position: relative;

  .destination-videos-image {
    position: absolute;
    overflow: hidden;
    right: 8px;
    top: -64px;

    .vlog-icon {
      width: 32px;
      height: auto;
    }
  }

  .destination-videos {
    position: relative;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr;
    gap: 64px;
    padding: 16px 0;
  }
}

@media screen and ($tabletMedium) {
  .destination-videos-container {
    .destination-videos {
      gap: 256px;
      height: fit-content;
    }
  }
}

@media screen and ($tablet) {
  .destination-videos-container {
    .destination-videos-image {
      top: -72px;

      .vlog-icon {
        width: 64px;
      }
    }

    .destination-videos {
      gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
      height: fit-content;
    }
  }
}

@media screen and ($desktop) {
  .destination-videos-container {
    .destination-videos-image {
      right: -16px;
      top: -104px;

      .vlog-icon {
        width: 112px;
      }
    }
  }
}
