@use "@/utils/theme.scss" as *;

.article-read-more-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  h2 {
    color: $grey;
    font-size: 24px;
    font-weight: bold;
  }

  a {
    color: $green;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
