@use "@/utils/theme.scss" as *;

.cookie-consent-container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: fit-content;
  background: $limeGreen;
  z-index: 3;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around;

  @media screen and ($tablet) {
    max-width: 640px;
    border-radius: 16px 0px 0 16px;
    bottom: 50px;
    padding-left: 40px;
  }

  h2 {
    font-size: 36px;
    color: $grey;
    font-weight: 800;
  }

  p {
    color: $grey;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    a {
      text-decoration: underline;
    }
  }

  .cookie-consent-buttons {
    display: flex;
    gap: 16px;
    max-height: 48px;
    margin-bottom: 4px;
    max-width: 400px;
  }
}
