@import "../../../utils/theme.scss";

.edit-banner-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;
  margin-bottom: 40px;

  .edit-banner-inputs {
    border-radius: 8px;
    border: 2px solid $greyMiddle;
    padding: 16px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .edit-banner-image-container {
    margin-top: 16px;

    img {
      max-width: 500px;
    }
  }

  .edit-banner-buttons {
    display: flex;
    gap: 8px;
    margin-top: 24px;
  }
}
