@import "../../../utils/theme.scss";

.admin-view-layout-container {
  display: flex;
  min-height: 100vh;
  height: 100%;

  .admin-view-sidebar {
    flex: 1;
    min-width: 256px;
    min-height: 100vh;
    background: linear-gradient(180deg, #d2eb64, #2bac82);
  }

  .admin-view-content {
    width: 100%;
  }
}
