@use "@/utils/theme.scss" as *;

.horizontal-post-item-container {
  display: flex;
  background-color: rgba($color: #d9d9d9, $alpha: 0.6);
  align-items: center;
  gap: 8px;
  border-radius: 8px;

  &.small {
    background-color: transparent;
  }

  .horizontal-post-item-image-container {
    position: relative;
    width: 144px;
    height: 100px;
    flex-shrink: 0;

    &.small {
      width: 124px;
      height: 88px;
    }
  }

  .horizontal-post-item-text-container {
    padding: 8px;
    flex: 1;

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;

      &.small {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

@media screen and ($desktop) {
  .horizontal-post-item-container {
    .horizontal-post-item-text-container {
      max-width: 360px;

      p {
        margin-right: 20px;
      }
    }
  }
}
