.edit-popup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;

  .edit-popup-image-container {
    display: flex;
    gap: 8px;
    align-items: center;

    img {
      max-width: 800px;
      max-height: 500px;
      object-fit: contain;
    }
  }

  .edit-popup-input-container {
    max-width: 800px;
  }

  p {
    margin-top: 24px;
  }

  .edit-popup-buttons {
    display: flex;
    gap: 8px;
  }
}
