@use "@/utils/theme.scss" as *;

.destination-hero-container {
  width: 100%;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  min-height: 640px;
  height: fit-content;

  .destination-hero-left {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;

    .destination-hero-titles {
      padding-top: 0px;
      position: relative;

      .bold-grey {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $greyMiddle;
        font-size: 64px;
        position: absolute;
        z-index: 1;
        line-height: 80%;
        margin-left: 8px;
        max-width: 600px;
        top: 0px;
      }

      .bold-color {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $limeGreen;
        font-size: 64px;
        margin-right: 8px;
        position: absolute;
        line-height: 80%;
        z-index: 1;
        text-shadow: 0 4px 7px rgba($color: #000000, $alpha: 0.5);
        top: 8px;
        max-width: 600px;
      }

      .cursive-black {
        position: relative;
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
        color: $grey;
        font-size: 64px;
        z-index: 1;
        line-height: 80%;
        padding-top: 12px;
        max-width: 600px;
        word-spacing: 32px;
      }
    }

    .destination-hero-description {
      margin-top: 32px;
      font-size: 16px;
      margin-bottom: 16px;
      z-index: 1;
      position: relative;
      max-width: 240px;
      color: $grey;
      text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
        2px 2px 0 white, -2px 0px 0 white, 2px 0px 0 white, 0px -2px 0 white,
        0px 2px 0 white;
    }
  }

  .destination-hero-right {
    position: absolute;
    top: 180px;
    right: 0px;
    z-index: 0;
  }
}

@media screen and ($tabletMedium) {
  .destination-hero-container {
    min-height: 400px;

    .destination-hero-left {
      .destination-hero-titles {
        .bold-grey {
          line-height: 130%;
        }

        .bold-color {
          line-height: 130%;
        }

        .cursive-black {
          word-spacing: -12px;
          letter-spacing: 8px;
          line-height: 130%;
        }
      }

      .destination-hero-description {
        max-width: 320px;
        margin-top: 48px;
      }
    }

    .destination-hero-right {
      top: 0;
      right: -80px;
    }
  }
}

@media screen and ($tablet) {
  .destination-hero-container {
    .destination-hero-left {
      margin-left: 80px;

      .destination-hero-titles {
        .bold-grey {
          font-size: 80px;
        }

        .bold-color {
          font-size: 80px;
        }

        .cursive-black {
          font-size: 96px;
          line-height: 110%;
        }
      }

      .destination-hero-description {
        margin-top: 24px;
        max-width: 420px;
      }
    }

    .destination-hero-right {
      right: 0px;
    }
  }
}

@media screen and ($desktop) {
  .destination-hero-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 616px;
    display: flex;
    justify-content: center;
    align-items: center;

    .destination-hero-left {
      display: flex;
      flex-direction: column;
      margin: 0;
      flex: 1;

      .destination-hero-titles {
        .bold-grey {
          font-size: 112px;
          max-width: none;
        }

        .bold-color {
          font-size: 112px;
          max-width: none;
        }

        .cursive-black {
          font-size: 112px;
          width: 1024px;
          line-height: 130%;
        }
      }

      .destination-hero-description {
        font-size: 20px;
      }
    }

    .destination-hero-right {
      right: 0px;
      width: 700px;
    }
  }
}

@media screen and ($desktopLarge) {
  .destination-hero-container {
    .destination-hero-left {
      .destination-hero-titles {
        .bold-grey {
          font-size: 140px;
          max-width: 840;
        }

        .bold-color {
          font-size: 140px;
          max-width: 840;
        }

        .cursive-black {
          font-size: 140px;
          max-width: 760px;
          line-height: 135%;
        }
      }

      .destination-hero-description {
        font-size: 20px;
      }
    }

    .destination-hero-right {
      right: 0px;
      width: 760px;
    }
  }
}
