@use "@/utils/theme.scss" as *;

.country-not-found-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  gap: 24px;
  margin-top: 20px;
  text-align: center;

  .image-container {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;

    @media screen and ($tablet) {
      height: 280px;
    }
    @media screen and ($desktop) {
      height: 300px;
    }
  }
}
