@import "../../../../utils/theme.scss";

.recommended-map-destinations-container {
  padding: 16px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  width: 100%;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: $greyMiddleDark;
  }

  .recommended-map-destinations-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    flex-wrap: wrap;
  }
}

@media screen and ($tabletMedium) {
  .recommended-map-destinations-container {
    .recommended-map-destinations-wrapper {
      gap: 16px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and ($desktop) {
  .recommended-map-destinations-container {
    max-width: 1300px;
    margin: 0 auto;
    flex-direction: row;

    .recommended-map-destinations-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h2 {
      font-size: 28px;
    }
  }
}

@media screen and ($desktopLarge) {
  .recommended-map-destinations-container {
    padding: 0;
  }
}
