@use "@/utils/theme.scss" as *;

.subs-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1024px;

  .new-subscribers-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    border-radius: 16px;
    border: 2px solid $limeLight;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 6px;

    .new-subscribers-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: $limeLight;
      border: 3px solid $limeGreenHover;
      border-radius: 10px;
      padding: 8px;

      p {
        font-weight: 600;
        font-size: 14px;
        color: $greyMiddleDark;

        &:last-child {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }
}
