@import "../../../../utils/theme.scss";

.main-country-info-container {
  position: relative;
  box-shadow: 0 0 16px #cccccc;
  border-radius: 16px;

  .main-country-world-map-image {
    height: 100%;
    width: 100%;
    position: absolute;

    & img {
      border-radius: 16px;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .main-country-info-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    gap: 16px;

    h2 {
      text-align: center;
      z-index: 1;
      color: $greyMiddleDark;
      font-size: 24px;
      padding: 8px;
      margin-top: 8px;
    }

    .main-country-info-items {
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      margin-bottom: 16px;

      .main-country-info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8px;

        img {
          width: 48px;
          height: 48px;
        }

        h5 {
          font-size: 20px;
          text-align: center;
        }

        p {
          font-size: 18px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
}

@media screen and ($tablet) {
  .main-country-info-container {
    height: 100%;

    .main-country-world-map-image {
      height: 100%;
      width: 100%;
      position: absolute;

      & img {
        border-radius: 16px;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .main-country-info-content {
      justify-content: space-around;
      height: 100%;
      padding: 8px 16px;

      h2 {
        font-size: 32px;
      }

      .main-country-info-items {
        .main-country-info-item {
          img {
            width: 64px;
            height: 64px;
          }

          h5,
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and ($desktopLarge) {
}
