@use "@/utils/theme.scss" as *;

.button {
  width: 100%;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 4px;
  border: none;
  text-transform: uppercase;

  &-fit {
    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
  }

  &-grey {
    background-color: $grey;
    color: $bg;
  }

  &-white {
    background-color: $bg;
    color: $grey;
    border: 3px solid $grey;
    padding: 12px 20px;

    &:hover {
      background-color: $grey;
      color: $bg;
      transition: 0.2s;
    }
  }

  &-admin-primary {
    background-color: $green;
    color: $bg;

    &:hover {
      background-color: $greenHover;
      transition: 0.2s;
    }
  }

  &-primary {
    background-color: $limeGreen;
    color: $grey;
    padding: 16px 32px;

    &:hover {
      background-color: $limeGreenHover;
      transition: 0.2s;
    }
  }

  &-edit {
    background-color: $bg;
    color: $grey;
    padding: 8px 32px;
    border: 1px solid $green;

    &:hover {
      background-color: $greyMiddle;
      transition: 0.2s;
    }
  }

  &-circle {
    background-color: $green;
    color: $bg;
    font-size: 40px;
    font-weight: 300;
    padding: 0px;
    padding-left: 14px;
    padding-right: 14px;

    &:hover {
      background-color: $greenHover;
      transition: 0.2s;
    }
  }

  &-disabled {
    background-color: rgb(195, 174, 174);
    cursor: not-allowed;
  }

  &-red {
    background-color: $delete;
    color: $bg;
  }
}
