@use "@/utils/theme.scss" as *;

.video-item-container {
  height: 135%;
}

@media screen and ($tabletMedium) {
  .video-item-container {
    height: 240%;
  }
}

@media screen and ($tablet) {
  .video-item-container {
    height: 100%;
  }
}

@media screen and ($desktop) {
  .video-item-container {
    height: 150%;
  }
}
