@import "../../../utils/theme.scss";

.edit-homepage-menu-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;

  .edit-homepage-menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr; // same height of all grid items
    max-width: 960px;
    gap: 16px;
  }
}
