@import "../../../utils/theme.scss";

.map-parent-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: fit-content;

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and ($tablet) {
  .map-parent-wrapper {
    gap: 0px;
    padding: 0 16px;
  }
}

@media screen and ($desktop) {
  .map-parent-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    flex-direction: row;
    gap: 0px;
    height: 600px;
    width: 100%;
  }
}

@media screen and ($desktopLarge) {
  .map-parent-wrapper {
    padding: 0;
  }
}

.rsm-geographies {
  path {
    cursor: pointer;
  }
}
