.destination-hero-container {
  .destination-hero-left {
    .destination-hero-titles {
      .bold-black {
        font-family: "TheBoldFont";
      }

      .bold-color {
        font-family: "Testimonia";
      }

      .cursive-black {
        font-family: "BlackSingature";
      }
    }
    .destination-hero-description {
    }
  }

  .destination-hero-right {
  }
}
