@use "@/utils/theme.scss" as *;

.article-table-of-contents-items-wrapper {
  background-image: url("/assets/login_background.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  border-radius: 8px;

  width: 90%;
  padding: 16px;
  box-shadow: 0px 0px 6px 0px #deebeb inset,
    0px 4px 12px 0px rgba(0, 32, 64, 0.1);

  @media screen and ($tablet) {
    width: 600px;
    padding: 20px;
  }

  @media screen and ($desktop) {
    width: 800px;
  }

  @media screen and ($desktopLarge) {
    border-radius: 0 16px 16px 0;
    width: auto;
    padding-left: calc((100vw - 1316px) / 2);
    max-width: calc(1300px + calc((100vw - 2050px) / 2));
  }

  h4 {
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 20px;
    //padding-left: 16px;
  }

  ul {
    padding-left: 16px;
    text-decoration: underline;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and ($tablet) {
      padding-left: 32px;
    }
  }
}
