@import "../../../../utils/theme.scss";

.destination-hero-container {
  width: 100%;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  min-height: 400px;
  height: fit-content;

  .destination-hero-left {
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: center;

    .destination-hero-titles {
      padding-top: 48px;
      position: relative;

      .bold-grey {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $greyMiddle;
        font-size: 64px;
        position: absolute;
        z-index: 1;
        left: 8px;
        max-width: 500px;
        top: 48px;
      }

      .bold-color {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $limeGreen;
        font-size: 64px;
        position: absolute;
        z-index: 1;
        text-shadow: 0 4px 7px rgba($color: #000000, $alpha: 0.5);
        top: 56px;
        max-width: 500px;
      }

      .cursive-black {
        position: relative;
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
        color: $grey;
        font-size: 64px;
        z-index: 1;
        line-height: 130%;
        padding-top: 12px;
        max-width: 500px;
        word-spacing: 32px;
      }
    }

    .destination-hero-description {
      margin-top: 48px;
      font-size: 16px;
      margin-bottom: 16px;
      z-index: 1;
      position: relative;
      max-width: 240px;
      text-shadow: -1px -1px 0 #f8f8f8, 0 -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8,
        1px 0 0 #f8f8f8, 1px 1px 0 #f8f8f8, 0 1px 0 #f8f8f8, -1px 1px 0 #f8f8f8,
        -1px 0 0 #f8f8f8;
    }
  }

  .destination-hero-right {
    position: absolute;
    top: 0px;
    right: -256px;
    z-index: 0;
  }
}

@media screen and ($tabletMedium) {
  .destination-hero-container {
    .destination-hero-left {
      .destination-hero-titles {
        .cursive-black {
          word-spacing: -12px;
          letter-spacing: 8px;
        }
      }

      .destination-hero-description {
        max-width: 320px;
      }
    }

    .destination-hero-right {
      right: -80px;
    }
  }
}

@media screen and ($tablet) {
  .destination-hero-container {
    .destination-hero-left {
      margin-left: 80px;

      .destination-hero-titles {
        .bold-grey {
          font-size: 80px;
        }

        .bold-color {
          font-size: 80px;
        }

        .cursive-black {
          font-size: 96px;
          line-height: 110%;
        }
      }

      .destination-hero-description {
        margin-top: 24px;
        max-width: 420px;
      }
    }

    .destination-hero-right {
      right: 0px;
    }
  }
}

@media screen and ($desktop) {
  .destination-hero-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 616px;
    display: flex;
    justify-content: center;
    align-items: center;

    .destination-hero-left {
      display: flex;
      flex-direction: column;
      margin: 0;
      flex: 1;

      .destination-hero-titles {
        .bold-grey {
          font-size: 112px;
          max-width: none;
        }

        .bold-color {
          font-size: 112px;
          max-width: none;
        }

        .cursive-black {
          font-size: 112px;
          width: 1024px;
          line-height: 130%;
        }
      }

      .destination-hero-description {
        font-size: 20px;
      }
    }

    .destination-hero-right {
      right: 0px;
      width: 700px;
    }
  }
}

@media screen and ($desktopLarge) {
  .destination-hero-container {
    .destination-hero-left {
      .destination-hero-titles {
        .bold-grey {
          font-size: 140px;
          max-width: 760px;
        }

        .bold-color {
          font-size: 140px;
          max-width: 760px;
        }

        .cursive-black {
          font-size: 140px;
          max-width: 760px;
          line-height: 135%;
        }
      }

      .destination-hero-description {
        font-size: 20px;
      }
    }

    .destination-hero-right {
      right: 0px;
      width: 760px;
    }
  }
}
