@use "@/utils/theme.scss" as *;

.article-hero-container {
  min-height: 520px;
  height: fit-content;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  .article-hero-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // justify-content: center;
    z-index: 1;
    padding-left: 16px;

    .article-hero-titles {
      position: relative;

      h2 {
        font-size: 32px;
        margin-top: 64px;
        color: transparent;
        text-shadow: 2px 0 0 rgba($color: $textPrimary, $alpha: 1);
      }
    }

    h5,
    p {
      font-size: 16px;
      font-weight: 600;
      padding-right: 16px;
      color: $grey;
      text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
        2px 2px 0 white, -2px 0px 0 white, 2px 0px 0 white, 0px -2px 0 white,
        0px 2px 0 white;
    }
  }

  .article-hero-right {
    position: absolute;
    top: 260px;
    right: -48px;
    width: 300px;
    overflow: hidden;
  }
}

@media screen and ($tabletMedium) {
  .article-hero-container {
    .article-hero-left {
      max-width: 560px;
      justify-content: center;
      min-height: 680px;

      .article-hero-titles {
        h2 {
          font-size: 40px;
        }
      }
    }

    .article-hero-right {
      right: -50px;
      top: 64px;
    }
  }
}

@media screen and ($tablet) {
  .article-hero-container {
    min-height: 640px;

    .article-hero-left {
      .article-hero-titles {
        h2 {
          font-size: 48px;
        }
      }
    }

    .article-hero-right {
      right: 0px;
      width: 400px;
      height: 560px;
    }
  }
}

@media screen and ($desktop) {
  .article-hero-container {
    .article-hero-left {
      max-width: 600px;

      .article-hero-titles {
        h2 {
          font-size: 64px;
        }
      }
      p {
        text-shadow: -2px -2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px -2px 0 #f8f8f8,
          2px 0 0 #f8f8f8, 2px 2px 0 #f8f8f8, 0 2px 0 #f8f8f8,
          -2px 2px 0 #f8f8f8, -2px 0 0 #f8f8f8;
      }
    }

    .article-hero-right {
      right: 0px;
      width: 640px;
      height: 560px;
    }
  }
}

@media screen and ($desktopLarge) {
  .article-hero-container {
    .article-hero-left {
      padding: 0;
    }
  }
}
