@import "../../../../utils/theme.scss";

.socials-container {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  .socials-item {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.blue {
      background-color: $lightBlue;
    }

    &.green {
      background-color: $limeGreen;
      border: 3px solid #2f2936;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

@media screen and ($tabletMedium) {
  .socials-container {
    justify-content: start;

    .socials-item {
      width: 40px;
      height: 40px;
      cursor: pointer;

      &.green {
        border: 2px solid #2f2936;
      }

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

@media screen and ($desktop) {
  .socials-container {
    .socials-item {
      width: 36px;
      height: 36px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
