@use "@/utils/theme.scss" as *;

.tips-menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $greyMiddle;
  border-radius: 8px;
  height: 0; // ne miči ovo jer onda nije dobro!

  .icon-top-left {
    position: absolute;
    top: -24px;
    left: -16px;
    width: 80px;
    height: 80px;
    transform: rotate(135deg);
  }

  .icon-bottom-right {
    position: absolute;
    bottom: 0px;
    right: 4px;
    width: 80px;
    height: 80px;
  }

  h2 {
    font-size: 20px;
    word-wrap: break-word;
    max-width: 132px;
  }

  &:hover {
    background-color: $green;
    cursor: pointer;
    transition: 0.2s;

    h2 {
      color: $bg;
    }
  }
}
