@use "@/utils/theme.scss" as *;

.main-country-post-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;

  .main-country-post-bg-image-container {
    width: 100%;
    height: 256px;
    filter: blur(4);
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    border-radius: 12px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 12px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(256, 256, 256, 0.85);
      border-radius: 12px;
    }
  }

  .main-country-top-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .main-country-post-top-image-container {
      height: calc(256px - 108px); //72
      filter: blur(4);
      box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
      border-radius: 12px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 12px;
      }
    }

    .main-country-icon-container {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      bottom: 88px; //48

      .main-country-icon-circle {
        background: $bg;
        border-radius: 50%;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    .main-country-post-text-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 104px; //72
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 16px;
      font-weight: 800;
      font-size: 20px;
      text-align: center;
      color: $greyMiddleDark;
    }
  }
}

@media screen and ($tabletMedium) {
  .main-country-post-container {
    .main-country-post-bg-image-container {
      height: 100%;
    }

    .main-country-top-layer {
      .main-country-post-top-image-container {
        height: calc(100% - 120px);
      }

      .main-country-icon-container {
        bottom: 80px;

        .main-country-icon-circle {
          padding: 8px;

          img {
            width: 72px;
            height: 72px;
          }
        }
      }

      .main-country-post-text-container {
        height: 100px;
        font-size: 20px;
        padding: 12px 24px;
      }
    }
  }
}

@media screen and ($desktop) {
  .main-country-post-container {
    .main-country-top-layer {
      .main-country-post-text-container {
        font-size: 24px;
      }
    }
  }
}
