@use "@/utils/theme.scss" as *;

.search-container {
  position: relative;

  .search {
    background-color: #e6edf5;
    padding: 16px 56px 16px 24px;
    border: none;
    border-radius: 24px;
    outline: none;
    width: 100%;
    font-weight: 500;

    &:focus {
      border-color: $lightBlue;
    }

    &-green {
      background-color: $bg;
      border: 2px solid $green;
      border-radius: 24px;
      padding: 14px 30px 14px 24px;

      &:focus {
        border-color: $greenHover;
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $grey;
  }
}
