@import "../../../utils/theme.scss";

.editor-wrapper {
  gap: 4px;
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
  }

  .editor-inner-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 8px;

    .editor {
      background-color: $bg;
      border: 1px solid $lightBlue;
      border-radius: 8px;
      width: 100%;
      outline: none;
    }

    .ql-editor {
      min-height: 320px;
      height: 320px;
    }

    .ql-toolbar.ql-snow {
      border: none;
      border-bottom: 1px solid $lightBlue;
    }

    .ql-container.ql-snow {
      border-radius: none;
      border: none;
    }
  }
}
