@use "@/utils/theme.scss" as *;

.contact-parent-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-content-wrapper {
  background-color: rgb(242, 242, 242);
  background-image: url("/login_background.png");
  width: 100%;
  box-shadow: 0 0 5px grey;
  display: flex;
  flex-direction: row;
  gap: 80px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 24px;

  @media screen and ($desktop) {
    width: 80%;
    padding: 48px;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}

.contact-name-email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .input-wrapper {
    width: 100%;
  }

  @media screen and ($desktop) {
    flex-direction: column;
  }
}

.contact-form-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.contact-button-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
