@import "../../../../utils/theme.scss";

.newsletter-container {
  position: relative;
  width: 100%;
  height: 320px;

  .custom-shape-divider-top {
    position: absolute;
    z-index: 0;
    bottom: -1px; // against thin line at between newsletter and footer
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top svg {
    z-index: 0;
  }

  .newsletter-content-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .newsletter-image {
      display: none;

      img {
        width: 400px;
        clip-path: url("#clip-custom");
      }
    }

    .newsletter-content {
      padding: 0 16px;

      .newsletter-envelope {
        z-index: 1;
        position: absolute;
        right: 16px;

        img {
          width: 80px;
          z-index: 1;
        }
      }

      .newsletter-content-text {
        margin-top: 80px;

        h3 {
          color: $bg;
          font-weight: 800;
          font-size: 32px;
        }

        p {
          padding-top: 8px;
          padding-bottom: 8px;
          color: $bg;
          font-weight: 500;
          font-size: 16px;
        }

        .newsletter-actions {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .newsletter-button-container {
            display: flex;
            justify-content: end;
          }
        }
      }
    }
  }
}

@media screen and ($tablet) {
  .newsletter-container {
    .newsletter-content-container {
      .newsletter-content {
        .newsletter-envelope {
          img {
            width: 120px;
          }
        }
      }
    }
  }
}

@media screen and ($desktop) {
  .newsletter-container {
    height: 400px;

    .newsletter-content-container {
      flex-direction: row;
      margin: 0 auto;
      max-width: 1300px;
      justify-content: space-between;

      .newsletter-image {
        display: block;
      }

      .newsletter-content {
        height: 0;
        padding-left: 24px;
        padding-top: 80px;

        .newsletter-envelope {
          left: 48px;
          width: 104px;
          top: 0px;

          img {
            width: 156px;
          }
        }

        .newsletter-content-text {
          h3 {
            font-size: 40px;
          }

          p {
            font-size: 20px;
            max-width: 512px;
            padding-bottom: 32px;
          }

          .newsletter-actions {
            flex-direction: row;
            align-items: end;

            .newsletter-input-container {
              width: 360px;
            }
          }
        }
      }
    }
  }
}

@media screen and ($desktopLarge) {
  .newsletter-container {
    .newsletter-content-container {
      .newsletter-content {
        padding-left: 0;
      }
    }
  }
}
