@use "@/utils/theme.scss" as *;

.homepage-image-container {
  height: 700px;
  width: 100%;
  position: relative;

  .homepage-clip {
    top: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    overflow: hidden;
  }

  img {
    clip-path: url("#homepage-clip-custom");
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
  }
}

@media screen and ($desktop) {
  .homepage-image-container {
    // height: 700px;
    //width: 700px;
  }
}
