@import "../../../../utils/theme.scss";

.favorite-posts-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and ($tablet) {
  .favorite-posts-container {
    margin-top: 160px;
    gap: 0px;
    padding: 0 16px;
  }
}

@media screen and ($desktop) {
  .favorite-posts-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    gap: 16px;
  }
}

@media screen and ($desktopLarge) {
  .favorite-posts-container {
    padding: 0;
  }
}
