.modal-container {
  width: 800px;
  padding: 64px;
  justify-content: center;
  border-radius: 8px;
  margin: auto; // does not work without this (if in global css margin is set to 0)

  .modal-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 24px;

    .modal-image {
      height: 240px;
      width: auto;
    }

    .modal-buttons {
      display: flex;
      gap: 8px;
    }
  }
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
