@use "@/utils/theme.scss" as *;

.input-parent-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-weight: 600;
  }
}

.input {
  width: 100%;
  background-color: $bg;
  padding: 14px 4px;
  border-radius: 8px;
  border: 1px solid $lightBlue;
  color: $grey;
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;

  &-label {
    color: $grey;
    font-size: 16px;
  }

  &-green {
    background-color: $limeLight;
    border-radius: 24px;
    border: none;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.input-admin-view {
  font-weight: bold;
  font-size: 24px;
}

.error-message {
  color: red;
  display: flex;
  align-items: flex-start;
}
