@font-face {
  font-family: "Testimonia";
  src: local("Testimonia"),
    url("./assets/fonts/Testimonia.ttf") format("truetype");
}

@font-face {
  font-family: "TheBoldFont";
  src: local("TheBoldFont"),
    url("./assets/fonts/TheBoldFont.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Sacramento&display=swap");

.error-message {
  color: red;
}
