@font-face {
  font-family: "Testimonia";
  src: local("Testimonia"),
    url("./assets/fonts/Testimonia.ttf") format("truetype");
}

@font-face {
  font-family: "TheBoldFont";
  src: local("TheBoldFont"),
    url("./assets/fonts/TheBoldFont.ttf") format("truetype");
}
