// colors
$bg: #f8f8f8;
$limeLight: #edf3d1;
$limeGreen: #d2eb64;
$limeGreenHover: #b3c952;
$grey: #333333;
$lightBlue: #78a4d7;
$green: #2bac82;
$greenHover: #218161;
$greyMiddle: #dfdfdf;
$greyMiddleDark: #515151;
$limeLight: #edf4cc;
$delete: #ac2b2b;
$greyLight: #f1f1f1;
$textPrimary: #515151;
$bgFooter: #121b20;

// breakpoints
$tabletMedium: "min-width: 580px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$desktopLarge: "min-width: 1300px";
