// colors
$bg: "#F8F8F8";
$lime-green: "#D2EB64";
$grey: "#333333";
$light-blue: "#78A4D7";
$green: "#2BAC82";
$grey-middle: "#DFDFDF";
$lime-light: "#EDF4CC";
$delete: "#AC2B2B";
$grey-light: "#F1F1F1";

// breakpoints
$tabletMedium: "min-width: 580px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$desktopLarge: "min-width: 1300px";
