@import "../../../../utils/theme.scss";

.dropdown-wrapper {
  label {
    font-weight: 600;
  }

  .dropdown-filter-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 8px;

    .dropdown {
      width: 100%;
      outline: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
      padding: 8px;
      gap: 12px;
      border-radius: 8px;
      background-color: $bg;
      border: 2px solid $lightBlue;

      &::placeholder {
        color: $grey;
        line-height: 140%;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

.p-dropdown-items-wrapper {
  border-radius: 16px;
  margin-top: 2px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.219);
  border: 1px solid #b3b3b3;
}

.p-dropdown-filter {
  margin-top: 2px;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.p-dropdown-filter-container {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    margin-top: 16px;
    margin-right: 8px;
  }
}

.option-item {
  display: flex;
  align-items: center;
  background-color: $bg;
  padding: 4px 8px;

  &.selected {
    padding: 0;
  }

  .icon {
    margin-right: 2px;
    width: 30px;
  }

  &:hover {
    background-color: #fff;
  }
}
