@use "@/utils/theme.scss" as *;

@use "@/utils/theme.scss" as *;
.header-container {
  position: relative;
  .header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    a {
      padding: 8px 0;
      position: relative;
      z-index: 2;
      display: block;

      img {
        display: block;
      }
    }
  }

  .header-filter-menu-container {
    position: absolute;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media screen and ($tabletMedium) {
  .header-container {
    z-index: 5;

    .header-top {
      max-width: 1300px;
      margin: 0 auto;
      justify-content: start;
    }
  }
}

@media screen and ($desktop) {
  .header-container {
    .header-top {
      padding: 0 24px;
    }
  }
}

@media screen and ($desktopLarge) {
  .header-container {
    .header-top {
      padding: 0;
    }
  }
}
