@import "../../../utils/theme.scss";

.article-container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;

  .article-content {
    padding: 16px;
  }
}

@media screen and ($desktopLarge) {
  .article-container {
    .article-content {
      padding: 0;
    }
  }
}
.article-content {
  padding: 16px;
  @media screen and ($desktop) {
    padding-left: 65px;
  }
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.article-connected-articles-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 24px;
  padding: 16px;

  @media screen and ($tabletMedium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and ($desktopLarge) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.article-text-articles-wrapper {
  padding: 0;
  max-width: 1300px;
  margin: 0 auto;
  h2 {
    font-weight: bold;
    font-size: 40px;
  }
}

.article-gallery-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 16px;
}

.article-location {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: underline;
  max-width: 1300px;

  h2 {
    font-weight: bold;
  }
}

.article-gallery-text-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-location-parent {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 24px;
}
