@import "../../../../utils/theme.scss";

.destination-item-container {
  width: fit-content;
  background-color: $bg;
  box-shadow: 0 0 8px 2px $green;
  border-radius: 36px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &.has-icon {
    padding: 4px 12px;
  }

  &.flag {
    padding: 4px;
    padding-right: 12px;
    box-shadow: none;
    background: $greyMiddle;
    justify-content: flex-start;
    text-align: left;
  }

  &.full-width {
    width: 100%;
  }

  &.sights {
    justify-content: center;
  }

  &:hover {
    background-color: $green;
    transition: 0.3s;
    color: $bg;

    p {
      color: $bg;
    }
  }

  p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $grey;
    text-decoration: none;
  }

  img {
    height: 32px;
  }
}

@media screen and ($tabletMedium) {
  .destination-item-container {
    padding: 16px 24px;

    &.has-icon {
      padding: 6px 20px;
    }

    &.flag {
      padding: 6px;
      padding-right: 12px;
    }

    img {
      height: 36px;
    }
  }
}

@media screen and ($desktop) {
  .destination-item-container {
    &.full-width {
      width: fit-content;
      justify-content: center;
    }
  }
}
