@import "../../../../utils/theme.scss";

.destination-item-container {
  width: fit-content;
  background-color: $bg;
  box-shadow: 0 0 8px 2px $green;
  border-radius: 36px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

@media screen and ($tablet) {
  .destination-item-container {
    padding: 16px 24px;
  }
}
