@import "../../../../utils/theme.scss";

.footer-container {
  width: 100%;
  background-color: $bgFooter;

  .footer-list {
    padding: 24px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .footer-list-item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      a {
        text-decoration: none;
      }

      .footer-list-item-title {
        text-transform: uppercase;
        color: $bg;
        font-weight: 700;
      }

      .footer-list-item-content {
        color: $bg;
        cursor: pointer;

        &.flaticon {
          color: $textPrimary;
        }
      }

      .footer-list-item-links {
        padding-top: 16px;
      }
    }
  }

  .footer-logo {
    display: flex;
    padding: 16px 32px 72px;
    justify-content: start;

    img {
      width: 80px;
    }
  }
}

@media screen and ($tabletMedium) {
  .footer-container {
    .footer-logo {
      justify-content: center;

      img {
        width: 120px;
      }
    }
  }
}

@media screen and ($desktop) {
  .footer-container {
    .footer-list {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1300px;
      margin: 0 auto;
      padding: 40px 24px 8px;

      .footer-list-item {
        align-items: start;

        .footer-list-item-links {
          padding-top: 4px;
        }
      }
    }

    .footer-logo {
      padding: 16px 24px 48px;
      max-width: 1300px;
      margin: 0 auto;
      justify-content: start;

      img {
        width: 160px;
      }
    }
  }
}

@media screen and ($desktopLarge) {
  .footer-container {
    .footer-list {
      padding: 40px 0px 8px;
    }

    .footer-logo {
      padding: 16px 0px 48px;
    }
  }
}
